In [20]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [21]:
# read data
df = pd.read_csv('data.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [28]:
# convert word to number

def w2n(test_str):
    word_to_digit = {
        'zero': '0',
        'one': '1',
        'two': '2',
        'three': '3',
        'four': '4',
        'five': '5',
        'six': '6',
        'seven': '7',
        'eight': '8',
        'nine': '9',
        'ten': '10',
        'eleven': '11'
    }

    # Split the input string into words
    words = test_str.split()

    # Map each word to its corresponding digit using the dictionary
    digits = [word_to_digit[word] for word in words]

    # Join the resulting list of digits into a string
    result = ''.join(digits)
    
    return result

w2n('eleven')

KeyError: 'eleven'