In [81]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [ ]:
# read data
df = pd.read_csv('data.csv')
df

## Data cleaning (Handling Missing Values)

In [82]:
# convert word to number
def w2n(test_str):
    word_to_digit = {
        'zero': '0',
        'one': '1',
        'two': '2',
        'three': '3',
        'four': '4',
        'five': '5',
        'six': '6',
        'seven': '7',
        'eight': '8',
        'nine': '9',
        'ten': '10',
        'eleven': '11'
    }

    # Split the input string into words
    words = test_str.split()

    # Map each word to its corresponding digit using the dictionary
    digits = [word_to_digit[word] for word in words]

    # Join the resulting list of digits into a string
    result = ''.join(digits)
    
    return int(result)

In [83]:
# converting the word with numbers
for index, row in df.iterrows():
    
    try:
        df.at[index, 'experience'] = w2n(row['experience'])
    except:
        pass

In [84]:
t_score_med = df['test_score(out of 10)'].median()
t_score_med

8.0

In [96]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(t_score_med)
df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [89]:
df['experience'][0] = 5
df['experience'][1] = 2
df

/tmp/ipykernel_16037/3613624374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'][0] = 5
/tmp/ipykernel_16037/3613624374.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['experience'][1] = 2

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          5                    8.0                           9      50000
1          2                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    8.0                           7      72000
7         11                    7.0                           8      80000

## Apply Linear Regression for prediction

### Question: 
Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

In [ ]:
# make linear regression model
model = linear_model.LinearRegression()

In [103]:
# fit
model.fit(df[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], df['salary($)'])

# create dataframe for each of query to remove warning
data = {
  "experience": [2,12],
  "test_score(out of 10)": [9,10],
  "interview_score(out of 10)": [6,10]
}

df2 = pd.DataFrame(data)

# Convert DataFrame to a 2D NumPy array
input_data = df2.values

# Predict using the 2D array
prediction = model.predict(input_data)

# predict
print("Prediction for 2 yr experience, 9 test score, 6 interview score: ", prediction[0])
print("Prediction for 12 yr experience, 10 test score, 10 interview score: ", prediction[1])

Prediction for 2 yr experience, 9 test score, 6 interview score:  48769.031302092975
Prediction for 12 yr experience, 10 test score, 10 interview score:  91243.16393874108

/home/fahad/anaconda3/lib/python3.10/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(